<div class="container footer-custom">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0  text-decoration-none lh-1"></a>
        <span class="mb-3 mb-md-0 lead">Feito com Angular</span>
      </div>
      <span class="mb-3 mb-md-0 lead"></span>

      <ul class="nav col-md-4 mb-3 mb-md-0 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="" href="https://www.linkedin.com/in/vitor-ariza-de-oliveira/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl" style="color: #1a659e;"></i></a></li>
        <li class="ms-3"><a class="" href="https://www.instagram.com/vitor_ariza/" target="_blank"><i class="fa-brands fa-instagram fa-2xl" style="color: #9829d8;"></i></a></li>
        <li class="ms-3"><a class="" href="https://github.com/VitorAriza98" target="_blank"><i class="fa-brands fa-github fa-2xl" style="color: #FFF;"></i></a></li>
      </ul>
    </footer>
  </div>