.contato-custom {
    margin-top: 190px;
    margin-bottom: 100px;
}

.links-custom {
    margin-bottom: 300px;
}

.btn {
    width: 300px;
}

.icon-link {
    margin-right: 10px;
    margin-left: 
}

.icon-mail {
    margin-right: 10px;
    margin-left: 70px;
}
