<section class="py-5 text-center container contato-custom">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bolder">Entre em contato</h1>
        <p class="lead">Se gostou do meu trabalho fale comigo, estou disponivel para <span style="color: #23ce6b;">contratação</span>.</p>
      </div>
    </div>
    <div class="d-flex justify-content-center">
    <div class="d-grid gap-3 flex-column ">
        <a href="mailto:vitorariza@Outlook.com" class="btn btn-outline-danger btn-block mb-3">
            
            vitorariza@outlook
        </a>
        <a href="https://www.linkedin.com/in/vitor-ariza-de-oliveira/" target="_blank" class="btn btn-outline-danger btn-block">
            
            Linkedin
        </a>
       
        </div>
    </div>
  </section>


  

  