<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bolder">Portfólio de Projetos</h1>
        <p class="lead">Veja meus principais projetos.</p>
      </div>
    </div>
  </section>
  
  <div class="album py-5 ">
    <div class="container">
  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#000814"/><text x="40%" y="50%" fill="#23ce6b" dy=".3em">
              CALCULADORA
            </text>
            </svg>
            <div class="card-body">
              <h4>Calculadora</h4>
              <p class="card-text">Uma calculadora inspirada do sistema IOS, primeiro projeto utilizando React.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://vacalculadoraproject.netlify.app/" target="_blank"><button type="button" class="btn btn-outline-success">Demo</button></a>
                  <a href="https://github.com/VitorAriza98/PROJ_Calculadora" target="_blank"><button type="button" class="btn btn-outline-success ms-3">GitHub</button></a>
                </div>
                <small class="text-light">React, JSX</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#000814"/><text x="40%" y="50%" fill="#23ce6b" dy=".3em">
              ESTANTE DE LIVROS
            </text></svg>
            <div class="card-body">
              <h4>Estante de Livros</h4>
              <p class="card-text">Utilizando Google books API, criarei um pesquisador de livros. (Projeto em desenvolvimento)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="" target="_blank"><button type="button" class="btn btn-outline-success" disabled>Demo</button></a>
                  <a href="https://github.com/VitorAriza98/PROJ_Minha-Estante" target="_blank"><button type="button" class="btn btn-outline-success ms-3">GitHub</button></a>
                </div>
                <small class="text-light">React, JSX, GoogleBooksAPI</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#000814"/><text x="40%" y="50%" fill="#23ce6b" dy=".3em">
              LISTA DE TAREFAS
            </text></svg>
            <div class="card-body">
              <h4>Lista de Tarefas</h4>
              <p class="card-text">Uma simples lista de tarefas com Js onde e possivel adicionar e remover tarefas.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://valistatarefaproject.netlify.app/" target="_blank"><button type="button" class="btn btn-outline-success">Demo</button></a>
                  <a href="https://github.com/VitorAriza98/PROJ_Lista-de-Tarefas" target="_blank"><button type="button" class="btn btn-outline-success ms-3">GitHub</button></a>
                </div>
                <small class="text-light">JS, HTML, CSS</small>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#000814"/><text x="40%" y="50%" fill="#23ce6b" dy=".3em">
             TWITTER-CLONE
            </text></svg>
            <div class="card-body">
              <h4>Twitter-Clone</h4>
              <p class="card-text">Um simples clone do twitter, meu primeiro projeto Angular.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://vatwitterclone.netlify.app/" target="_blank"><button type="button" class="btn btn-outline-success">Demo</button></a>
                  <a href="https://github.com/VitorAriza98/Twitter-clone" target="_blank"><button type="button" class="btn btn-outline-success ms-3">GitHub</button></a>
                </div>
                <small class="text-light">Angular, Typescript</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#000814"/><text x="40%" y="50%" fill="#23ce6b" dy=".3em">
              POKEDÉX
            </text></svg>
            <div class="card-body">
              <h4>Pokedéx</h4>
              <p class="card-text">Para solidificar meus estudos em apis construi essa Pokedéx.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="" target="_blank"><button type="button" class="btn btn-outline-success" disabled>Demo</button></a>
                  <a href="" target="_blank"><button type="button" class="btn btn-outline-success ms-3">GitHub</button></a>
                </div>
                <small class="text-light">JS, PokeAPI</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#000814"/><text x="40%" y="50%" fill="#23ce6b" dy=".3em">
             ACHIEVEMENTS
            </text></svg>
            <div class="card-body">
              <h4>Achievements</h4>
              <p class="card-text">Veja certificados e acompanhe o que estou aprendendo nesse site Angular.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://vaachievements.netlify.app/" target="_blank"><button type="button" class="btn btn-outline-success">Demo</button></a>
                  <a href="https://github.com/VitorAriza98/Proj-Achievements" target="_blank"><button type="button" class="btn btn-outline-success ms-3">GitHub</button></a>
                </div>
                <small class="text-light">Angular, Typescript</small>
              </div>
            </div>
          </div>
        </div>