<div class="conteiner container-custom">
    <div class="row">
      <div class="col-md-6 col-12 mt-md-0 mt-4">
        <h1 class="jumbotron text-start text-lg-start text-large titulo ms-3">Vitor Ariza de Oliveira</h1>
        <h2 class="jumbotron text-start titulo ms-3">Full-Stack Web Developer</h2>
        <h2 class="lead text-start ms-3">Análise e Desenvolvimento de Sistemas</h2>
        
        <div class="buttons">
        <a href="/assets/CurriculoDev(1).pdf" target="_blank"><button type="button" class="btn btn-outline-danger ms-3 mb-3">Curriculo</button></a>
        <a href="/assets/Cartaderecomendação.pdf" target="_blank"><button type="button" class="btn btn-outline-danger ms-3 mb-3">Carta de recomendação</button></a>
        </div>

        <div class="icons ">
          <a href="https://www.linkedin.com/in/vitor-ariza-de-oliveira/" target="_blank"><i class="fa-brands fa-linkedin-in fa-lg ms-3" style="color: #1a659e; margin-right: 20px; margin-top: 10px;" title="Visitar Linkedin"></i></a>
          <a href="https://github.com/VitorAriza98" target="_blank"><i class="fa-brands fa-github" style="color: #ffffff;" title="Visitar GitHub"></i></a>
        </div>
        


      </div>
      <div class="col-md-6 col-12 mt-md-0 mt-4">
        <h1 class="text-start">Sobre mim</h1>
        <p class="lead text-start">Profissional graduado em Análise e Desenvolvimento de Sistemas, Minhas pricipais habilidades estao no front-end com JavaScript, Angular, React, NodeJS, Bootstrap, Tailwind CSS.
          Tambem tenho experiencia com JAVA, C# e Banco de Dados SQL. Dedicação, disciplina e organização são os valores que trago comigo junto com trabalho em equipe e boa comunicação, 
          características que me fizeram passar com destaque pelas fileiras da FAB,
           recebendo em 2022 o premio praça padrão do
            Instituto de Pesquisa e Ensaios em voo.</p>
            <h2 class="text-start text-custom">Habilidades Principais</h2>
            <img src="assets\javascript-svgrepo-com.svg" alt="SVG Image" class="svg-img" title="JavaScript">
            <img src="assets\angular-svgrepo-com.svg" alt="SVG Image" class="svg-img" title="Angular">
            <img src="assets\react-svgrepo-com.svg" alt="SVG Image" class="svg-img" title="React">
            <img src="assets\bootstrap-svgrepo-com.svg" alt="SVG Image" class="svg-img" title="Bootstrap">
            <img src="assets\tailwind-svgrepo-com.svg" alt="SVG Image" class="svg-img" title="Tailwind">
            <img src="assets\node-js-svgrepo-com.svg" alt="SVG Image" class="svg-img" title="Node-js">
            <img src="assets\java-svgrepo-com.svg" alt="SVG Image" class="svg-img" title="Java">
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  <!--
    <div class="container-intro container-custom">
    <div class="row align-items-stretch ">
      <div class="col-lg-6 flex-lg-row">
        <div class="left-container">
          <h1 class="jumbotron text-start text-lg-start text-large titulo">Vitor Ariza de Oliveira</h1>
          <h2 class="jumbotron text-start titulo">Full-Stack Web Developer - Junior</h2> 
          <h2 class="lead text-start">Analise e Desenvolvimento de Sistemas</h2>
          <div class="icons">
            <a href="https://www.linkedin.com/in/vitor-ariza-de-oliveira/" target="_blank"><i class="fa-brands fa-linkedin-in fa-lg" style="color: #a4a8ad; margin-right: 20px; margin-top: 30px;" title="Visitar Linkedin"></i></a>
            <a href="https://github.com/VitorAriza98" target="_blank"><i class="fa-brands fa-github" style="color: #a4a8ad;" title="Visitar GitHub"></i></a>
          </div> 
        </div>
      </div>
  
  -->
      <!--
        <div class="col-lg-6 ">
        <div class="right-container">
          <h1 class="text-end">Sobre mim</h1>
          <p class="lead text-start">Ola, após seis anos na Força Aérea Brasileira busco minha primeira oportunidade na área de tecnologia, principalmente desenvolvimento e programação segmento que me dedico a três anos. Dedicação, disciplina e organização são os valores que trago comigo junto com trabalho em equipe e boa comunicação, características que me fizeram passar com destaque pelas fileiras da FAB, recebendo em 2022 o premio praça padrão do Instituto de Pesquisa e Ensaios em voo.</p>
          <div class="skill-conteiner">
            <div class="tecnololgias"><h2 class="text-start">Tecnologias</h2></div>
            <h3 class="lead text-start">JavaScript, HTML, CSS, Angular, React, Bootstrap, Tailwind, Node.JS, Java, SQL</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
      -->
      
  
  