/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    padding: 0;
    margin: 0;
    background-color: #e3d5ca /*  #212121 a cor de fundo */
    
}

body {
    color: #003049;  /* #fff a cor do texto */
    background-color: #e3d5ca;
}
